@charset "utf-8";
/* CSS Document */

a,
.theme_color,
.sec-title h2 span,
.main-slider .title,
.list-style-one li .icon,
.cta-section-three .title,
.accordion-box .block .number,
.main-slider .mouse-btn-down,
.solution-block .inner-box .icon-box,
.solution-block .inner-box:hover h3 a,
.main-slider .slider-social-nav li a:hover,
.success-section .content-column h2 span,
.success-section .content-column .bold-text,
.fact-counter .column .inner .count-outer,
.accordion-box .block .icon-outer,
.list-style-two li .icon,
.main-slider-two .title,
.list-style-two li a:hover,
.cta-section-three .video-box,
.quote-section .form-column h2 span,
.accordion-box .block .icon-outer .icon,
.main-footer .logo-widget .social-box li a:hover,
.news-block .inner-box .lower-content h3 a:hover,
.accordion-box .block .icon-outer .icon-minus,
.team-block .inner-box .lower-content h4 a:hover,
.team-block .inner-box .lower-content .designation,
.newsletter-form .form-group input[type="submit"],
.newsletter-form .form-group button,
.price-block .inner-box .text,
.price-block .inner-box .price-list li:before,
.cta-section-three .lower-blocks .info-block .numbers,
.quote-section .content-column .numbering-list li .number,
.header-top-two .top-left .info-list li .icon,
.header-top-two .top-left .info-list li a:hover,
.header-top-two .top-right .social-box li a:hover,
.main-header .options-box .cart-box button,
.news-block-two .inner-box .lower-content h3 a:hover,
.solution-section-two .content-column .question a,
.business-section .content-column .video-box,
.business-section .content-column h2 span,
.news-block-three .inner-box .image .post-meta li .icon,
.solution-section-two .content-column .satisfy-box .icon,
.solution-section-two .content-column .satisfy-box h3 span,
.cta-section-three .lower-blocks .info-block:nth-child(3) .numbers,
.main-header .options-box .cart-box .cart-panel .btns-boxed li a:hover,
.news-block .inner-box .lower-content .post-meta li .icon,
.product-details .basic-details .details-header .rating span,
.testimonial-block .inner-box .author-box .box-inner .designation,
.gallery-block .inner-box .image .overlay-box .content .designation,
.gallery-block .inner-box .image .overlay-box .content h5 a:hover,
.accordion-box .block .acc-btn.active .icon-outer .icon-minus,
.main-header .header-top .top-right .phone a:hover,
.price-block .inner-box .price span,
.main-header .info-box .icon-box,
.main-slider-three .title,
.page-title .text,
.shop-list li a,
.popular-posts .post a:hover,
.popular-posts .post-info:before,
.cat-list-two li a:hover,
.social-icon-one li a:hover,
.page-title .bread-crumb li a:hover,
.main-slider-three .mouse-btn-down,
.solution-block-two .inner-box .read-more,
.solution-block-two .inner-box .side-icon,
.testimonial-block-two .inner-box .author-info h4,
.team-block-two .inner-box .lower-content h4 a:hover,
.testimonial-block-three .inner-box .quote-icon,
.news-block-three .inner-box .lower-content h3 a:hover,
.testimonial-section-three .client-thumb-outer .thumb-item .author-info .designation,
.skills .skill-item .skill-bar .bar-inner .skill-percentage,
.news-block-two .inner-box .lower-content .post-meta li .icon,
.gallery-block-two .inner-box .lower-content .designation,
.broucher-widget .widget-content h3 span,
.blog-detail .post-share-options .tags a:hover,
.blog-author-box .social-icon li a:hover,
.blog-detail .inner-box .lower-content blockquote .quote-author,
.blog-detail .inner-box .image .post-meta li .icon,
.news-block-four .inner-box .lower-content h3 a:hover,
.news-block-four .inner-box .image .post-meta li .icon,
.news-block-five .inner-box .content-box h3 a:hover,
.news-block-five .inner-box .content-box .post-meta li .icon,
.project-info-widget .project-info-list li a:hover,
.sidebar-page-container .comments-area .comment-box .theme-btn .arrow,
.sidebar-page-container .comments-area .comment-box .theme-btn:hover,
.sidebar-page-container .comments-area .comment-box strong,
.coming-soon .emailed-form .form-group input[type="submit"],
.coming-soon .emailed-form button,
.cart-table tbody tr .remove-btn,
.checkout-page .default-links li a,
.list-style-three li .icon,
.list-style-three li a:hover,
.contact-info-section .info-column .social-box a:hover,
.shop-page .prod-tabs .reviews-container .rev-header .rating,
.shop-page .prod-tabs .add-review .rating .rate-box:hover,
.shop-page .prod-tabs .add-review .rating .rate-box:focus,
.shop-page .prod-tabs .add-review .rating .rate-box:active{
	color:#ffaa17;
}

/*Background Color*/

.checkout-btn,
.btn-style-two,
.btn-style-five,
.btn-style-three:hover,
.btn-style-two:hover::before,
.btn-style-one:hover::before,
.btn-style-three:after,
.btn-style-four:after,
.cart-table .cart-header,
.team-block .inner-box .image,
.main-header .search-panel .search-btn,
.main-header .nav-outer:before,
.main-header.fixed-header .header-upper,
.main-slider .owl-nav .owl-prev:hover,
.main-slider .owl-nav .owl-next:hover,
.solution-section .owl-dots .owl-dot.active,
.solution-section .owl-dots .owl-dot:hover,
.success-section .bottom-divider:before,
.success-section .top-divider:before,
.projects-section .top-divider:before,
.projects-section .bottom-divider:before,
.fluid-section-one .image-column .video-box,
.testimonial-section .top-divider:before,
.testimonial-section .bottom-divider:before,
.testimonial-section .owl-dots .owl-dot.active,
.testimonial-section .owl-dots .owl-dot:hover,
.team-block .inner-box .image .social-box li a,
.cta-section-two .inner-container,
.btn-style-five:hover::before,
.help-widget .widget-content,
.news-block-four .inner-box .image:before,
.solution-section-three .top-divider:before,
.main-header .info-box .social-box li a:hover,
.projects-section-two .bottom-divider:before,
.solution-section-two .image-column .inner-column:before,
.main-footer .footer-bottom .arrow-column .scroll-to-target,
.projects-section .filters .filter-tabs .filter:before,
.team-section .owl-dots .owl-dot.active,
.team-section .owl-dots .owl-dot:hover,
.news-block .inner-box .image:before,
.services-section .top-divider:before,
.services-section .bottom-divider:before,
.projects-section-two .top-divider:before,
.project-tab .product-tab-btns .p-tab-btn:before,
.ui-state-active, .ui-widget-content .ui-state-active,
.cta-section-three .lower-blocks .info-block:nth-child(2),
.main-header .options-box .cart-box .cart-panel .btns-boxed li a,
.gallery-block-two .overlay-inner .content .btn-box .read-more .icon,
.price-block.active .inner-box .btn-box .theme-btn:hover,
.price-block .inner-box .btn-box .theme-btn:hover,
.solution-section-three .bottom-divider:before,
.skills .skill-item .skill-bar .bar-inner,
.projects-section-three .bottom-divider:before,
.team-block-two .inner-box .image,
.team-section-two .owl-dots .owl-dot.active,
.team-section-two .owl-dots .owl-dot:hover,
.news-section-three .owl-nav .owl-prev:hover,
.news-section-three .owl-nav .owl-next:hover,
.blog-detail .inner-box .lower-content blockquote:before,
.team-block-two .inner-box .lower-content .share-box .social-box li a,
.team-block-two .inner-box .lower-content .share-box .share,
.solution-block-two .block-inner:hover .lower-box .icon-box,
.testimonial-section-two .content-box .owl-nav .owl-prev:hover,
.testimonial-section-two .content-box .owl-nav .owl-next:hover,
.news-block-two .inner-box .image .category,
.news-block-two .inner-box .image:before,
.main-header .info-box .mobile-nav-toggler,
.price-block.active .inner-box .color-box,
.price-block .inner-box:hover .color-box,
.news-block-three .inner-box .image .category,
.news-block-three .inner-box .image:before,
.main-slider-three .owl-nav .owl-prev:hover,
.main-slider-three .owl-nav .owl-next:hover,
.main-slider-three .image-column .color-layer,
.click-indicator div:nth-child(12),
.click-indicator div:nth-child(3),
.click-indicator div:nth-child(6),
.click-indicator div:nth-child(9),
.click-indicator div,
.blog-cat li a:before,
.blog-cat li a:after,
.news-block-five .inner-box .image .category,
.related-projects-section .top-divider:before,
.related-projects-section .owl-dots .owl-dot.active,
.related-projects-section .owl-dots .owl-dot:hover,
.related-projects-section .bottom-divider:before,
.sidebar .search-box .form-group button,
.sidebar .popular-tags a:hover,
.news-block-four .inner-box .image .category,
.blog-detail .inner-box .image:before,
.blog-detail .inner-box .image .category,
.styled-pagination li.active a, .styled-pagination li:hover a,
.service-detail .inner-box .lower-content .solution-list li .number,
.faq-page-section .video-column .video-image .video-box{
	background-color:#ffaa17;
}

.cta-section:before{
	background-color:rgba(255,170,23,0.90);
}

/*Border Color*/

.sidebar .popular-tags a:hover,
.newsletter-form .form-group input:focus,
.main-header .search-panel input:focus,
.main-header .search-panel select:focus,
.main-menu .navigation > li > ul > li > ul,
.main-menu .navigation > li > ul,
.news-section-three .owl-nav .owl-prev:hover,
.news-section-three .owl-nav .owl-next:hover,
.main-header .options-box .cart-box .cart-panel,
.ui-state-active, .ui-widget-content .ui-state-active,
.faq-form .form-group input:focus,
.faq-form .form-group select:focus,
.faq-form .form-group textarea:focus,
.broucher-widget .widget-content,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.single-product-item .img-holder,
.shop-form input:focus,
.shop-form select:focus,
.shop-form textarea:focus,
.contact-info-section .info-column .inner-column,
.cart-section .apply-coupon .form-group input[type="text"],
.main-header .options-box .cart-box .cart-panel .btns-boxed li a,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus{
	border-color:#ffaa17;
}

.success-section .images-column .year-box:before{
	border-bottom-color:#ffaa17;
}

.faq-page-section .video-column .video-image .video-box .ripple,
.faq-page-section .video-column .video-image .video-box .ripple:before,
.faq-page-section .video-column .video-image .video-box .ripple:after,
.business-section .content-column .video-box .ripple,
.business-section .content-column .video-box .ripple:before,
.business-section .content-column .video-box .ripple:after{
	-webkit-box-shadow: 0 0 0 0 rgba(255,170,23, .7);
    -moz-box-shadow: 0 0 0 0 rgba(255,170,23, .7);
    -ms-box-shadow: 0 0 0 0 rgba(255,170,23, .7);
    -o-box-shadow: 0 0 0 0 rgba(255,170,23, .7);
    box-shadow: 0 0 0 0 rgba(255,170,23, .7);
}

.gallery-block-three .overlay-box{
	background-color:rgba(255,170,23, .7);
}

.page-title .pattern-layer,
.main-slider-two .slide .pattern-layer,
.main-slider-two .slide .pattern-layer-three,
.main-slider-two .slide .pattern-layer-seven,
.business-section .image-column .counter-boxed .graph-outer .dial,
.solution-section-two .content-column .author-box .box-inner .signature,
.solution-section-two .content-column .column-list li:before{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

@media only screen and (max-width: 1023px){
	
	.main-header .header-upper .logo-box{
		background-color:#ffaa17;
	}
	
}